.venv
__pycache__/
*.pyc
.env
*.pt
*.safetensors
**/*.safetensors
cache
logs/*
NOTES.md
pyproject.toml
unsloth_compiled_cache/
unsloth_training_checkpoints/
outputs/
xformers/
llama.cpp/
tools/
outputs_example/
.gitignore
